# Server Port
PORT=8080

# The URL of your frontend application to configure CORS (e.g. https://greenprint.com)
FRONTEND_URL=http://localhost:5173

# Your Firebase Project ID
FIREBASE_PROJECT_ID=your-project-id

# (Optional) Path to your Firebase Service Account JSON for local development
# GOOGLE_APPLICATION_CREDENTIALS=./service-account.json
